<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <a href="" class="btn btn-outline-secondary">подключения</a>
    <a href="" class="btn btn-outline-secondary">отметки</a>
    <a href="" class="btn btn-outline-secondary">дань за работу</a>

    <dialog class="dialog-podkl">
      <div class="tabel-podkl">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore praesentium laborum omnis, labore asperiores, rem odio mollitia dicta voluptas dolores id optio officia itaque quasi explicabo, quisquam voluptates magni accusamus.</p>
      </div>
    </dialog>
  </body>
</html>